<div>
    <br>
    <mat-card>
      <section class="mat-typography">
        <h2> Ajout Matériel</h2>
      </section>
      <mat-divider></mat-divider>
      <br>
      <form [formGroup]="createForm" action="" class="create-form" >
        <mat-card>
          <div>    
            <mat-form-field class="field-full-width">
                <input matInput placeholder="Nom matériel" formControlName="nom" #nom>
            </mat-form-field>
          </div>
        <!-- <mat-divider></mat-divider> -->
        <mat-form-field class="field-full-width">
            <mat-select  matInput placeholder="Catégorie matériel" formControlName="categorie" #categorie>
              <mat-option *ngFor="let categorie of categories" value="{{categorie._id}}">
                {{categorie.nom}}
              </mat-option>
              <mat-option (click)="openDialogCategorie()">Ajouter catégorie</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field class="field-full-width">
            <mat-select  matInput placeholder="Type matériel" formControlName="type" #type>
              <mat-option *ngFor="let type of types" value="{{type._id}}">
                {{type.nom}}
              </mat-option>
              <mat-option (click)="openDialogType()">Ajouter type</mat-option>
            </mat-select>
          </mat-form-field>
        

        <br>
        <mat-form-field class="field-full-width">
            <input matInput placeholder="model matériel" formControlName="model" #model>
        </mat-form-field>
        <!-- <mat-divider></mat-divider> -->
        <br>
        <mat-form-field class="field-full-width">
            <input matInput placeholder="Marque matériel" formControlName="marque" #marque>
        </mat-form-field>
        <!-- <mat-divider></mat-divider> -->
        <br>
        <mat-form-field class="field-full-width">
            <input matInput placeholder="fournisseur / donnateur matériel" formControlName="fournisseur" #fournisseur>
        </mat-form-field>
        <!-- <mat-divider></mat-divider> -->
        <br>
        <mat-form-field class="field-full-width">
              <mat-select  matInput placeholder="Etat matériel" formControlName="etat" #etat>
                <mat-option value="bon"> bon </mat-option>
                <mat-option value="Moyen">Moyen</mat-option>
                <mat-option value="Mauvais">Mauvais</mat-option>
              </mat-select>
        </mat-form-field>
        <!-- <mat-divider></mat-divider> -->
         <br>
          <mat-form-field class="field-full-width">
              <input matInput placeholder="Prix valeur matériel (Ar)"  formControlName="prixValeur" #prixValeur digitonly>
          </mat-form-field>

      <!-- <mat-divider></mat-divider> -->
      <br>
          <button mat-raised-button color="accent" [routerLink]="['/list']">Revenir dans la list</button>
          <button type="submit" (click)="addMateriel(nom.value, categorie.value, type.value, model.value, marque.value,fournisseur.value, etat.value, prixValeur.value)" [disabled]="createForm.pristine || createForm.invalid" mat-raised-button color="primary">  Ajouter </button>
        </mat-card>
 
        </form>

    </mat-card>
  </div>
