table{
  width:100%;
}
.mat-column-right {
  text-align: center;

}

table {
  width: 100%;
  overflow: auto;
  max-height: 500px;
}

th.mat-sort-header-sorted {
  color: black;
}

.example-container {
  display: flex;
  flex-direction: column;
  min-width: 300px;
}

.filter-header {
  min-height: 64px;
  padding: 8px 24px 0;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

mat-card{
  max-width: 100%;
  margin: 1em auto;
}