

<div class="mat-elevation-z8">
  <br>
  <div class="filter-header">
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filtre">
    </mat-form-field>
  </div>
  <mat-card>
    <button mat-raised-button color="primary" [routerLink]="['/create']">
      Ajout
    </button>
    <br><br>
    <mat-divider></mat-divider>
    <br>
    <table mat-table  [dataSource]="dataSource" matSort class="mat-elevation-z8">
      <ng-container matColumnDef="nom" >
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Nom</th>
        <td mat-cell *matCellDef="let element">{{element.nom}}</td>
      </ng-container>

      <ng-container matColumnDef="categorie">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Categorie</th>
        <td mat-cell *matCellDef="let element">{{element.categorie}}</td>
      </ng-container>

      <ng-container matColumnDef="model">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Model </th>

        <td mat-cell *matCellDef="let element">{{element.model}}</td>
      </ng-container>

      <ng-container matColumnDef="marque">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Marque</th>
        <td mat-cell *matCellDef="let element">{{element.marque}}</td>
      </ng-container>

      <ng-container matColumnDef="fournisseur">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Fournisseur/Donnateur</th>
        <td mat-cell *matCellDef="let element">{{element.fournisseur}}</td>
      </ng-container>

      <ng-container matColumnDef="etat">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Etat</th>
        <td mat-cell *matCellDef="let element">{{element.etat}}</td>
      </ng-container>

      <ng-container matColumnDef="prixValeur">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Pix-valeur (Ar)</th>
        <td mat-cell *matCellDef="let element">{{element.prixValeur}}</td>
      </ng-container>


      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef class="mat-column-right">Actions</th>
        <td mat-cell *matCellDef="let element" class="mat-column-right">
            <button mat-button color="primary"(click)="editMateriel(element._id)" > Modifier </button>
            <button mat-button color="warm" (click)="deleteMateriel(element._id)"> Supprimer </button>
        </td>
      </ng-container>
<!--  displaying all component -->
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>


  </mat-card>
</div>
